*,
*::before,
*::after {
  scroll-behavior: smooth;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: url('/img/bg.svg');
  background-color: rgb(35, 35, 35);
  font-family: 'Kumbh Sans', sans-serif;
  color: #00F900;
}
